<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' /> </head>

<body>
    <header>
        <h1><%=title%></h1> </header>
    <div id="left">
        <h2>音乐列表</h2>
        <ul id="list">
            <% music.forEach(function(name){ %>
                <li title="<%=name%>">
                    <%=name%>
                </li>
                <%}) %>
        </ul>
    </div>
    <div id="right">
        <div id="volumeBox">
            <section>
                <select name="type" id="animation_type">
                    <option value="cir">点状</option>
                    <option value="col">柱状</option>
                    <option value="wave">圆形声波</option>
                </select>
            </section>
            <!--            <h3>音量</h3>-->
            <input type="range" min="0" max="100" value="40" id="volume"> </div>
    </div>
</body>
<!--主文件-->
<script src='/javascripts/index.js'></script>

</html>