<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' /> </head>

<body>
    <header>
        <h1><%=title%></h1>
        <input type="range" min="0" max="100" value="40" id="volume"> </header>
    <div id="left">
        <ul id="list">
            <% music.forEach(function(name){ %>
                <li title="<%=name%>">
                    <%=name%>
                </li>
                <%}) %>
        </ul>
    </div>
    <div id="right"></div>
</body>
<!--主文件-->
<script src='/javascripts/index.js'></script>

</html>